DATABASE_URL=
JWT_SECRET=
JWT_EXPIRES_IN=
PORT=
NODE_ENV=
FRONTEND_URL=
ADMIN_URL=
CORS_ORIGIN=
UPLOAD_DEST=
MAX_FILE_SIZE_MB=

STORAGE_PROVIDER=local        # Options: local | azure | s3
AZURE_STORAGE_CONNECTION_STRING=
AZURE_STORAGE_CONTAINER_NAME=bakutech-deliverables
AWS_S3_BUCKET=
AWS_S3_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# Seed Credentials
SUPER_ADMIN_EMAIL=fake@example.com
SUPER_ADMIN_PASSWORD=FakePassword123!
